__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*.pyd
*.so

.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

.venv/
venv/
env/
ENV/

build/
dist/
*.egg-info/
ibamlkit/IBADL
IBADL
examples/datasets/*
ibamlkit/pileup/lib/ 
modules/Pileup++/bin/
modules/Pileup++/build/